.background {
    background-image: url(./CSS\ Advanced/Object.png);
    background-size: cover;
}
nav {
    display: flex;
    justify-content: space-around;
    padding: 20px;     
}
nav ul {
    display: flex;
    gap: 50px;
}
nav ul li {
    list-style: none;
    margin-top: -17px;
}
nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 10px
}
.register {
    text-align: center;
    line-height: 1px;
}
h1 {
    font-size: 65px;
    color: white;
    margin-top: 130px;
}
button {
    padding: 7px 10px;
    border-radius: 30px;
    color: white;
    background-color: #c271fe;
    font-size: 10px;
    margin-top: 20px;
    border: 0;
    box-shadow: -1px 0px 9px 3px rgba(0,0,0,0.45);
}
.register > span {
    margin: 20px;
    font-size: 10px;
    color: white;  
}
h2 {
    text-align: center;
    margin-top: 100px;
    color: white;
}
span {
    color: #c271fe;
}
.the-pros {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 50px;
    padding: 40px;
}
.Bruce > img {
    border-radius: 50%;
}
h3, p {
    color: white;
    text-align: center;
}
p {
    font-style: italic;
    font-size: 12px;
}
h3 {
    font-size: 12px;
}
.the-pros img {
    height: 100px;
    align-items: center;
}